<form [formGroup]="formInput" (ngSubmit)="uploadData()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Inputan A</mat-label>
    <input matInput formControlName="A" value="Value dari A">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput formControlName="B" value="Value dari B"></textarea>
  </mat-form-field>
  <app-imageupload formControlName="image"> </app-imageupload>
  <button type="submit" mat-raised-button>Kirim</button>
</form>

<button type="button" mat-raised-button (click)="refreshList()">Refresh List Gambar</button>

<!-- https://material.angular.io/components/table/overview#getting-started -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="A">
    <th mat-header-cell *matHeaderCellDef> A </th>
    <td mat-cell *matCellDef="let element"> {{element.data.A}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="B">
    <th mat-header-cell *matHeaderCellDef> B </th>
    <td mat-cell *matCellDef="let element"> {{element.data.B}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="gambar">
    <th mat-header-cell *matHeaderCellDef> Gambar </th>
    <td mat-cell *matCellDef="let element"> <button type="button" mat-raised-button (click)="bukaGambar(element.gambar)">{{element.gambar}}</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
